<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <!-- show title in chosen language-->
      {{ 'EXTRAS.title' | translate }} 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">
        {{ 'EXTRAS.title' | translate }}
      </ion-title>
    </ion-toolbar>
  </ion-header>
<br/>
<!-- Changing Image when tapping on icon. -->
  <ion-item (click)="changeLanguage()"> 
    <!-- Showing flag of current language -->
    <img slot="end" id="flag" [src]="'assets/img/flags/' + currentLanguage + '.png'" alt=""> 
    <ion-label>{{ 'EXTRAS.language' | translate }}</ion-label>
  </ion-item>
<br/>
  <ion-list>
    <!-- Open Marvel on Disney-Plus in Browser -->
    <ion-item (click)="openURL('https://www.disneyplus.com/de-de/brand/marvel')">
      <ion-label>{{ 'EXTRAS.LINKS.disneyplus' | translate }}</ion-label>
    </ion-item>
    <!-- Open Marvel on Instagram on Instagram-App or Browser -->
    <ion-item (click)="openURL('https://www.instagram.com/marvel/')"> 
      <ion-label>{{ 'EXTRAS.LINKS.instagram' | translate }}</ion-label>
    </ion-item>
  </ion-list>
  <br/>
  <ion-list>
    <!-- Delete all values in Local-Storage -->
    <ion-item (click)="clearStorage()"> 
      <ion-label>{{ 'EXTRAS.ACTION.delete' | translate }}</ion-label>
    </ion-item>
  </ion-list>

  <!-- Small-Text 'developed by ' -->
  <div class="centered">
    <p>
      {{'EXTRAS.develop' | translate}} 
    </p>
  </div>
</ion-content>
